.kiaalap-header-item {
    display: inline-block;
    height: inherit;
    vertical-align: middle;
    color: #FFF;
}

.kiaalap-header-item > div {
    display: inline-block;
    padding: 0 12px;
    height: 60px;
    line-height: 60px;
}

.kiaalap-header-item .project-link {
    color: #FFF;
}