.statistical-learning {
    float: left;
    width: 25%;
}

.statistical-learning > .inner {
    margin: 0 12px;
    padding: 12px;
    background-color: #FFF;
}

.statistical-learning > .inner .title {
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
}

.statistical-learning > .inner .title div:first-child {
    float: left;
}

.statistical-learning > .inner .title div:last-child {
    float: right;
}

.statistical-learning > .inner .title .anticon {
    font-size: 28px;
}

.statistical-learning > .inner .num {
    line-height: 1.8;
    font-size: 24px;
    font-weight: bold;
}