.analytics-progress {
    float: left;
    width: 25%;
}

.analytics-progress > .inner {
    margin: 0 12px;
    background-color: #FFF;
    padding: 12px;
}

.analytics-progress > .inner .title {
    font-size: 24px;
    font-weight: bold;
}